@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Navigation buttons */
.swiper-button-prev,
.swiper-button-next {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	cursor: pointer;
	border: 2px #3554d1 solid;
}

.swiper-button-prev,
.swiper-button-next {
	width: 40px;
	height: 40px;
	border: 2px solid #3554d1;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	cursor: pointer;
	font-size: 20px; /* Adjust icon size */
	color: #3554d1; /* Icon color */
}

/* Pagination dots */
.swiper-pagination-bullet {
	display: block;
	width: 10px;
	height: 10px;
	background-color: #d9d9d9;
	opacity: 1;
	border-radius: 50%;
	margin: 0 5px;
	cursor: pointer;
	transition: all 0.3s ease;
}

/* Active pagination dot */
.swiper-pagination-bullet-active {
	display: block;
	width: 50px;
	height: 10px;
	border-radius: 5px;
	background-color: #3554d1;
}

/* Example CSS for paragraphs */
.blogblogblog p {
	font-size: 1rem; /* Adjust size as needed */
	line-height: 1.5; /* Adjust line height as needed */
	color: #666; /* Adjust color as needed */
	margin-bottom: 1rem; /* Adjust margin as needed */
}
/* Example CSS for headings */
.blogblogblog h1 {
	font-size: 2.5rem; /* Adjust size as needed */
	font-weight: bold;
	color: #333; /* Adjust color as needed */
	margin-bottom: 1rem; /* Adjust margin as needed */
}

.blogblogblog h2 {
	font-size: 2rem;
	font-weight: bold;
	color: #444;
	margin-bottom: 0.75rem;
}

.blogblogblog h3 {
	font-size: 1.75rem;
	font-weight: bold;
	color: #555;
	margin-bottom: 0.5rem;
}

.blogblogblog h4 {
	font-size: 1.5rem;
	font-weight: bold;
	color: #666;
	margin-bottom: 0.5rem;
}

.blogblogblog h5 {
	font-size: 1.25rem;
	font-weight: bold;
	color: #777;
	margin-bottom: 0.25rem;
}

.blogblogblog h6 {
	font-size: 1rem;
	font-weight: bold;
	color: #888;
	margin-bottom: 0.25rem;
}

*.opensans{
	font-family: "Open Sans", sans-serif !important;
}

*.syne{
	font-family: "Syne", sans-serif !important;
}